<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %} {% load socialaccount %}{% providers_media_js %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gowun+Batang:wght@700&family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css'%}" />
    {% block css %}

    {% endblock css %}
    <title>NEXT-LIKELION</title>
</head>

<body>
  <nav id="navbar">
    <ul class="navbar__menu">
      
      {% if user.authenticated %}
      <span class="navbar__menu__item"> 안녕, {{user.username}} </span>
      <li class="navbar__menu__item"><a href="{% url 'logout' %}">로그아웃</a></li>
      {% else %}
      <li class="navbar__menu__item">
        <a href="{% url 'signup' %}">회원가입</a>
      </li>

      <li class="navbar__menu__item"><a href="{% url 'login' %}">로그인</a>
      </li>

        <!-- < href="{% provider_login_url 'kakao' %}">카카오 로그인</> -->
        <form
        class ="login"
        method="POST"
        action="{% provider_login_url 'kakao' %}"
        >
        {% csrf_token %} {{form.as_p}} {% if redirect_field_value %}
        <input 
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="primaryAction" type="submit">카카오 로그인</button> 
      </form>

  
      <li class="navbar__menu__item">
        <a href="{% url 'logout' %}">로그아웃</a>
      </li>
      {% endif %}
    </ul>
  </nav>


  {% block title %} 
      
  {% endblock title%}
      
  {% block content %} 
      
  {% endblock content %}

</body>
</html>

