<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gowun+Batang:wght@700&family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">

    <title>글 상세 페이지</title>
</head>
<body>
    <div class="container">
        <h2>Title: {{post.title}} </h2>
        <h2>Content: {{post.content}} </h2>
    </div>
    
    <a href= "{% url 'list' %}">목록</a>
    <a href= "{% url 'edit' post.pk %}">수정</a>
    <a href= "{% url 'delete' post.pk %}">삭제</a>
    
</body>
</html>