{% extends 'postApp/base.html' %}

{% block css %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
{% endblock css %}

{% block title%}
<h1>📓EDIT📓</h1>
{% endblock title%}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="title">제목</label>
        <br>
        <input id="title" name="title" value="{{ post.title }}"/>
        <br><br>
        <label for="content">내용</label> 
        <br>
        <textarea id="content" name="content">{{ post.content }}</textarea>
        <br>
        <button type="submit">수정</button>
        </form>
{% endblock content %}