    {% extends 'postApp/base.html' %}

    {% block css %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}">
    {% endblock css %}

    {% block title %}
        <h1>📓BLOG📓</h1>
    {% endblock title %}

    {% block content %}

    <div class="posts">
        {% for post in posts %}
        <a class = "post_title" href="{% url 'detail' post.pk  %}">
            <ul>
                <li>
                {{post.title}}
                </li>
            </ul>
        </a>
        {% endfor %}
    </div>
    
    <a class="url" href= "{%url 'new'%}">글쓰러 고고씽💨</a>

    {% endblock content %}