h1 {
position: relative;
left: 31px;
color: pink;
}

input{
background-color: pink;
color: black;
position: relative;
left: 155px;
}

textarea{
    border-color: gray;
    width: 300px;
    margin-bottom: 35px;
    margin-left: 27px;
    
}

body{
    background-color: rgb(226, 248, 192);
}